{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="jumbotron centered-text">
        <h1>Hello World!</h1>
    </div>

    <p class="centered-text"><span class="text-muted">This is a bootstrapped text - if different from the one above 
        (i.e., it is greyish),
        Bootstrap works!</span></p>
    <div class="container-fluid">
        <p>Our media server works if you can successfully see twitter's logo here:
            <a href="https://twitter.com/danangharisset1" title="tumbling programmer's twitter account">
                <img src="{{ MEDIA_URL }}twitter48.png" alt="twitter logo"></a>
        </p>
        <p>Static-serving files works too if you can successfully see twitter's logo here:
            <a href="https://twitter.com/danangharisset1" title="tumbling programmer's twitter account">
                <img src="{% static 'img/twitter48.png'%}" alt="twitter logo"></a>
        </p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

