{% extends "base.html" %}
{% load static l10n tz %}
{% load i18n %}
{% load bootstrap5 %}




{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="jumbotron centered-text">
        <h1>{% trans "Hello World!" %}</h1>
    </div>

    <p class="centered-text">
        <span class="text-muted">{% blocktrans %}This is a bootstrapped text - if different from the one above (i.e., it is greyish), Bootstrap works!{% endblocktrans %}</span>
    </p>
    <div class="container-fluid text-center">
        <p>{% blocktrans %}Our media server works if you can successfully see twitter's logo here:{% endblocktrans %}
            <a href="https://twitter.com/danangharisset1" title="tumbling programmer's twitter account">
                <img src="{{ MEDIA_URL }}twitter48.png" alt="twitter logo"></a>
        </p>
        <p>{% blocktrans %}Static-serving files works too if you can successfully see twitter's logo here:{% endblocktrans %}
            <a href="https://twitter.com/danangharisset1" title="tumbling programmer's twitter account">
                <img src="{% static 'img/twitter48.png'%}" alt="twitter logo"></a>
        </p>
    </div>

    <div class="container d-flex justify-content-center text-center">
        <div class="col-md-4">
            <h2 id="local-date">{{today}}</h2>
            <p>{% trans "This is the time using your local information" %} </p>
            <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 id="non-local-date">{{today|unlocalize}}</h2>
            <p>{% trans "This is the default time format." %}</p>
            <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Time Zones</h2>
            <p> Indonesia: <span id="time-tz">{{now|time:"H:i"}}</span></p>
            <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
            <p> New York: <span id="time-ny"> 
                {{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

